@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}

footer div section p a img {
  @include sizes(12.5 * 2px, 25px);
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1em;
}
