@import "_variables.scss";
@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";

@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

* {
  @include reset;
}

body {
  min-height: 100%;
  background-image: linear-gradient(
    to left,
    #fbcabb,
    #f9b0c3,
    #e3abce,
    #ceb6d9,
    #a2c8ec
  );
  font-size: larger;
}
html{
  height: 100%;
}
@media (max-width: 768px) {
  iframe {
    @include sizes(50vw, 25vh);
  }
 }